
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


.form-control {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


.btn-search {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-search:hover {
  background-color: #45a049;
}


.loader-img,
.error-img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}


.card-img-top {
  max-height: 200px;
  object-fit: cover;
}


.card-content {
  padding: 20px;
}

/* Style for card titles */
.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

/* Style for card text */
.card-text {
  color: #555;
  font-size: 16px;
}

/* Style for the show more button */
.btn-show-more {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #5e35b1;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-show-more:hover {
  background-color: #4527a0;
}
